<!DOCTYPE html>
{% import "chapters_macros.html" as common_chapters_macros %}
{% import "sections_macros.html" as common_sections_macros %}
{% import "detecting_small_objects/sections_macros.html" as page_sections_macros %}
{% import "math_macros.html" as math_macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detecting small objects</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        {{ page_sections_macros.site_header() }}
        <br><br>
        {{ common_sections_macros.kuba_profile() }}
        <br><br>
        {{ page_sections_macros.single_shot_detector() }}
        <br><br>
        {{ page_sections_macros.convolutions() }}
        <br><br>
        {{ page_sections_macros.convolutions_more_layers() }}
        <br><br>
        {{ page_sections_macros.pooling() }}
        <br><br>
        {{ page_sections_macros.pooling_more_layers() }}
        <br><br>
        {{ page_sections_macros.one_convolutional_block() }}
        <br><br>
        {{ page_sections_macros.single_shot_detector_fields_of_view() }}
        <br><br>
        {{ page_sections_macros.anectdotal_experience() }}
        <br><br>
        {{ page_sections_macros.summary() }}
        <br><br>
        {{ common_chapters_macros.finishing_slide() }}
        <br><br>

    </div>
    <br><br>

</body>
</html>