<!DOCTYPE html>
{% import "chapters_macros.html" as chapters_macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Learning Foundation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        {{ chapters_macros.site_header() }}
        <br><br>
        {{ chapters_macros.introduction() }}
        <br><br>
        {{ chapters_macros.derivatives_review() }}
        <br><br>
        {{ chapters_macros.forward_propagation() }}
        <br><br>
        {{ chapters_macros.backpropagation() }}
        <br><br>
        {{ chapters_macros.one_step_of_training_algorithm_with_mean_error_loss() }}
        <br><br>
        {{ chapters_macros.backpropagation_in_complex_networks() }}
        <br><br>
        {{ chapters_macros.matrix_notation() }}
        <br><br>
        {{ chapters_macros.simple_neural_network_implementation() }}
        <br><br>
        {{ chapters_macros.neural_network_as_a_universal_function_approximator() }}
        <br><br>
        {{ chapters_macros.deep_learning_improvements() }}
        <br><br>
        {{ chapters_macros.tensorflow_basics() }}
        <br><br>
        {{ chapters_macros.good_neural_network_implementation() }}
        <br><br>
        {{ chapters_macros.networks_architectures() }}
        <br><br>
        {{ chapters_macros.training_tips() }}
        <br><br>
        {{ chapters_macros.beyond_categorization_networks() }}
        <br><br>
        {{ chapters_macros.finishing_slide() }}
        <br><br>

    </div>
    <br><br>

</body>
</html>