<!DOCTYPE html>
{% import "macros.html" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Learning Foundation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        {{ macros.site_header() }}
        <br><br>
        {{ macros.kuba_profile() }}
        <br><br>
        {{ macros.what_this_course_is_about() }}
        <br><br>
        {{ macros.deep_learning_overview() }}
        <br><br>
        {{ macros.ask_questions_take_notes() }}
        <br><br>
        {{ macros.derivatives_review() }}
        <br><br>
        {{ macros.forward_propagation() }}
        <br><br>
        {{ macros.cost_function() }}
        <br><br>
        {{ macros.backpropagation_in_simple_networks() }}
        <br><br>
        {{ macros.networks_with_multiple_outputs() }}
        <br><br>
        {{ macros.backpropagation_in_complex_networks() }}
        <br><br>
        {{ macros.matrix_review() }}
        <br><br>
        {{ macros.matrix_notation_forward_pass() }}
        <br><br>
        {{ macros.matrix_notation_backpropagation_error_with_respect_to_output_activation_vector() }}
        <br><br>
        {{ macros.matrix_notation_backpropagation_error_with_respect_to_preactivation_vector() }}
        <br><br>
        {{ macros.matrix_notation_backpropagation_error_with_respect_to_hidden_layer_activation_vector() }}
        <br><br>
        {{ macros.simple_neural_network_implementation() }}
        <br><br>
        {{ macros.neural_network_as_a_universal_function_approximator() }}
        <br><br>
        {{ macros.batching() }}
        <br><br>
        {{ macros.optimizing_cost_function() }}
        <br><br>
        {{ macros.softmax() }}
        <br><br>
        {{ macros.optimizing_hidden_layer_activation_function() }}
        <br><br>
        {{ macros.importance_of_weights_initialization_scheme() }}
        <br><br>
        {{ macros.networks_architectures() }}
        <br><br>
        {{ macros.tensorflow_basics() }}
        <br><br>
        {{ macros.good_neural_network_implementation() }}
        <br><br>
        {{ macros.training_tips() }}
        <br><br>
        {{ macros.beyond_categorization_networks() }}
        <br><br>
        {{ macros.finishing_slide() }}
        <br><br>

    </div>
    <br><br>

</body>
</html>