{% import "math_macros.html" as math_macros %}

{% macro site_header() %}
<div class="jumbotron text-center card mt-4 p-4 shadow-lg">
    <h1>Deep Learning Foundation</h1>
    <h2>AI Okinawa</h2>
    <h2>Jakub “Kuba” Kolodziejczyk</h2>
</div>
{% endmacro %}


{% macro card_header_style() %}
"h3 card-header text-center bg-success text-white"
{% endmacro %}

{% macro kuba_profile() %}
<div class="shadow-lg">

    <div class={{ card_header_style() }}>Kuba Kolodziejczyk</div>

    <div class="row">
        <div class="col-md-8">
            <div class="m-4 h4">
                <strong>出身:</strong> ポーランド<br>
                <strong>大学:</strong> ロンドン大学, 大阪大学<br><br>

                <strong>過去</strong><br>
                Nanyang Technological University<br>
                OIST<br>
                レキサス<br><br>

                <strong>現在</strong><br>
                AI Okinawa - 代表<br>
                LiLz株式会社 - CTO<br>
                琉球大学 - 非常勤講師
            </div>
        </div>

        <div class="col-md-4">
          <img src="/static/images/profile_image.jpg" class="mx-auto d-block" width="100%">
        </div>

    </div>
</div>
{% endmacro %}


{% macro what_this_course_is_about() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>What this course is about</div>
    <div class="m-4">
        <img src="/static/images/neural_network_example.png" width="80%"><br>
        <div class="h5 text-center text-secondary small">neuralnetworksanddeeplearning.com</div>
        <hr>
    </div>
</div>
{% endmacro %}


{% macro deep_learning_overview() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Deep learning - short overview</div>
    <div class="m-4">
        <img src="/static/images/ai_ml_dl.jpg" width="80%"><br>
        <div class="h5 text-center text-secondary small">rapidminer.com</div>
        <hr>
        <br>
        <img src="/static/images/sample_function.jpg" width="80%">
        <div class="h2">$$ y = ax^3 + bx^2 + cx + d$$</div>
        <hr>
        <img src="/static/images/various_deep_learning_examples.jpg" width="100%"><br>

    </div>
</div>
{% endmacro %}


{% macro ask_questions_take_notes() %}
<div class="jumbotron text-center card mt-4 p-4 shadow-lg">
    <h1>Ask questions</h1>
    <h1>Take notes</h1>
</div>
{% endmacro %}


{% macro derivatives_review() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Derivatives review</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Derivatives notation</li>
            <li class="list-group-item">Derivative definition</li>
            <li class="list-group-item">Differentiation of polynomials</li>
            <li class="list-group-item">Second derivatives</li>
            <li class="list-group-item">What information derivatives give us?</li>
            <li class="list-group-item">Derivative of \( y = e^x \)</li>
            <li class="list-group-item">Derivative of a product of functions</li>
            <li class="list-group-item">Derivative of a quotient of functions</li>
            <li class="list-group-item">Derivative of a function of a function</li>

            <li class="list-group-item">Derivative of \( y = ln(x) \)</li>
            <li class="list-group-item">Derivative of \( y = ln(u) \)</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro forward_propagation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Forward propagation</div>
    <div class="m-4">

        <img src="/static/images/neural_network_example.png" width="80%"><br>
        <div class="h5 text-center text-secondary small">neuralnetworksanddeeplearning.com</div><br>

        <ul class="list-group">
            <li class="list-group-item">Simple neural network</li>
            <li class="list-group-item">Inputs and outputs</li>
            <li class="list-group-item">Weights and biases</li>
            <li class="list-group-item">Preactivation</li>
            <li class="list-group-item">Generic activation</li>
            <li class="list-group-item">Sigmoid function</li>
            <li class="list-group-item">Sample computation</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Cost function</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Why use cost function?</li>
            <li class="list-group-item">Gradient descent</li>
            <li class="list-group-item">Why not just use accuracy?</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro backpropagation_in_simple_networks() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Backpropagation - simple networks</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Cost derivative w.r.t. activation</li>
            <li class="list-group-item">Cost derivative w.r.t. preactivation</li>
            <li class="list-group-item">Cost derivative w.r.t. bias and weights</li>
            <li class="list-group-item">One step update of weights and biases</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro networks_with_multiple_outputs() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Networks with multiple outputs</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">One-hot encoding</li>
            <li class="list-group-item">Computing cost over multiple outputs</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro backpropagation_in_complex_networks() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Backpropagation - complex networks</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Cost derivative w.r.t. hidden node activation</li>
            <li class="list-group-item">Parameters notation for complex networks</li>
            <li class="list-group-item">Compute layer error on node with multiple children</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro matrix_review() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Matrix review</div><br>

    {{ math_macros.matrix_multiplication() }}
    <hr>
    {{ math_macros.derivative_of_vector_with_respect_to_scalar() }}
    <hr>
    {{ math_macros.derivative_of_scalar_with_respect_to_vector() }}

</div>
{% endmacro %}


{% macro matrix_notation_forward_pass() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Matrix notation - forward pass</div><br>

    {{ math_macros.matrix_notation_preactivation() }}
    <hr>
    {{ math_macros.matrix_notation_activation() }}

</div>
{% endmacro %}


{% macro deep_learning_with_matrix_notation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Deep learning - matrix notation</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Backward pass</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro simple_neural_network_implementation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>A simple neural network implementation</div>
    <div class="m-4">

        <div class="row text-center">
            <div class="col">
                <a href="https://github.com/PuchatekwSzortach/deep_learning_workshop"
                   class="btn btn-primary btn-lg" role="button" target="_blank">
                    github.com/PuchatekwSzortach/deep_learning_workshop</a>
            </div>
        </div>

        <br>

        <ul class="list-group">
            <li class="list-group-item">MNIST dataset</li>
            <li class="list-group-item">Training data vs test data</li>
            <li class="list-group-item">Shuffling</li>
            <li class="list-group-item">Forward stage</li>
            <li class="list-group-item">Backpropagation</li>
            <li class="list-group-item">Three qualities of deep learning</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro neural_network_as_a_universal_function_approximator() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Neural network as universal function approximator</div>
    <div class="m-4">

        <div class="row text-center">
            <div class="col">
                <a href="http://neuralnetworksanddeeplearning.com/chap4.html"
                   class="btn btn-primary btn-lg" role="button" target="_blank">
                    neuralnetworksanddeeplearning.com/chap4.html</a>
            </div>
        </div>

        <br>

        <ul class="list-group">
            <li class="list-group-item">Approximating a function with strips</li>
            <li class="list-group-item">Influence of weight on sigmoid output</li>
            <li class="list-group-item">Influence of bias on sigmoid output</li>
            <li class="list-group-item">Rectangular strip with a pair of neurons</li>
            <li class="list-group-item">Multiple strips</li>
            <li class="list-group-item">Computing preactivation for desired sigmoid output</li>
            <li class="list-group-item">Limitations of neural networks</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro batching() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Batching</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Problem with optimizing for a single sample</li>
            <li class="list-group-item">Optimizing for a batch of samples</li>
            <li class="list-group-item">Matrix notation for training a batch of samples</li>
            <li class="list-group-item">Computational complexity</li>
            <li class="list-group-item">Updates count</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro optimizing_cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Optimizing cost function</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Sigmoid derivative and slow learning with mean square error function</li>
            <li class="list-group-item">Binary cross entropy</li>
            <li class="list-group-item">Preactivation error with binary cross entropy cost function</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro softmax() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Softmax</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Interpreting result of neural network with multiple output nodes</li>
            <li class="list-group-item">Softmax function</li>
            <li class="list-group-item">Cross entropy cost</li>
            <li class="list-group-item">Cost derivative w.r.t. active node</li>
            <li class="list-group-item">Cost derivative w.r.t. inactive node</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro optimizing_hidden_layer_activation_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Optimizing hidden layer activation function</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Sigmoid derivative and its effect on gradients across layers</li>
            <li class="list-group-item">ReLU - rectified linear unit</li>
            <li class="list-group-item">Derivative of ReLU</li>
            <li class="list-group-item">Why not use a linear hidden activation?</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro importance_of_weights_initialization_scheme() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Importance of weights initialization scheme</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Problem with naive weights initialization</li>
            <li class="list-group-item">Scaling weights initialization w.r.t. input size</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}

{% macro networks_architectures() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Networks architectures</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Why deep networks?</li>
            <li class="list-group-item">How broad should my layers be?</li>
            <li class="list-group-item">Should I just use a big network for everything?</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro tensorflow_basics() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Tensorflow basics</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Why Tensorflow? Popularity, GPU processing, automatic differentiation</li>
            <li class="list-group-item">Computational graph model</li>
            <li class="list-group-item">Session</li>
            <li class="list-group-item">Placeholders</li>
            <li class="list-group-item">Variables</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro good_neural_network_implementation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>A good neural network implementation</div>
    <div class="m-4">

        <div class="row text-center">
            <div class="col">
                <a href="https://github.com/PuchatekwSzortach/deep_learning_workshop"
                   class="btn btn-primary btn-lg" role="button" target="_blank">
                    github.com/PuchatekwSzortach/deep_learning_workshop</a>
            </div>
        </div>

        <br>

        <ul class="list-group">
            <li class="list-group-item">ReLU</li>
            <li class="list-group-item">Softmax</li>
            <li class="list-group-item">Cross-entropy cost function</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro training_tips() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Training tips</div>
    <div class="m-4">

        <img src="/static/images/training_accuracy_vs_test_accuracy.jpg" width="60%"><br>
        <div class="h5 text-center text-secondary small">neuralnetworksanddeeplearning.com</div><br>

        <ul class="list-group">
            <li class="list-group-item">Check input and labels</li>
            <li class="list-group-item">Check model</li>
            <li class="list-group-item">Check loss definition</li>
            <li class="list-group-item">Check learning rate</li>
            <li class="list-group-item">Validation and overfitting</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro beyond_categorization_networks() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Beyond categorization networks</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Regression - real value prediction</li>
            <li class="list-group-item">Mixing real values and categorical inputs</li>
            <li class="list-group-item">Convolutional networks</li>
            <li class="list-group-item">Recurrent networks</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro finishing_slide() %}
<img src="/static/images/ai_okinawa_finishing_slide.jpg" width="100%" class="shadow-lg"></div>
{% endmacro %}