{% macro matrix_multiplication() %}
<div class="h5 text-center">Matrix multiplication</div>

    $$
        A\mathbf{x} =

        \begin{bmatrix}
            a_{11} & a_{12} & a_{13} \\
            a_{21} & a_{22} & a_{23} \\
            a_{31} & a_{32} & a_{33} \\
        \end{bmatrix}

        \begin{bmatrix}
            x_{1} \\
            x_{2} \\
            x_{3} \\
        \end{bmatrix} =

        \begin{bmatrix}
            (a_{11} * x_{1}) + (a_{12} * x_{2}) + (a_{13}  x_{3}) \\
            (a_{21} * x_{1}) + (a_{22} * x_{2}) + (a_{23}  x_{3}) \\
            (a_{31} * x_{1}) + (a_{32} * x_{2}) + (a_{33}  x_{3}) \\
        \end{bmatrix}
    $$

    $$
        A\mathbf{x} =

        \begin{bmatrix}
            y_{1} \\
            y_{2} \\
            y_{3} \\
        \end{bmatrix} = \mathbf{y}
    $$
{% endmacro %}


{% macro derivative_of_vector_with_respect_to_scalar() %}
<div class="h5 text-center">Derivative of a vector with respect to a scalar</div>

    $$
        \mathbf{f} =

        \begin{bmatrix}
            f_{1} \\
            f_{2} \\
            f_{3} \\
        \end{bmatrix} =

        \begin{bmatrix}
            2x - 3 \\
            x^2 + 4 \\
            8 \\
        \end{bmatrix}
    $$

    $$
        \frac{ \partial{\mathbf{f}} }{ \partial{x} } =

        \begin{bmatrix}
            \frac{ \partial{f_{1}} }{ \partial{x} } \\
            \frac{ \partial{f_{2}} }{ \partial{x} } \\
            \frac{ \partial{f_{3}} }{ \partial{x} } \\
        \end{bmatrix} =

        \begin{bmatrix}
            2 \\
            2x \\
            0 \\
        \end{bmatrix}
    $$
{% endmacro %}


{% macro derivative_of_scalar_with_respect_to_vector() %}
    <div class="h5 text-center">Derivative of a scalar with respect to a vector</div>

    $$ f = 3x_{1} - x_{2}^2 + 4 $$

    $$
    \nabla{_\mathbf{x} f} =

    \begin{bmatrix}
        \frac{ \partial{f} }{ \partial{x_{1}} } \\
        \frac{ \partial{f} }{ \partial{x_{2}} } \\
        \frac{ \partial{f} }{ \partial{x_{3}} } \\
    \end{bmatrix} =

    \begin{bmatrix}
        3 \\
        -2x_{2} \\
        0 \\
        \end{bmatrix}
    $$
    <br>

{% endmacro %}


{% macro matrix_notation_preactivation() %}
    <div class="h5 text-center">Preactivation</div>

    $$
        \mathbf{z^1} =

        \begin{bmatrix}
            z_{1}^1 \\
            z_{2}^1 \\
            z_{3}^1 \\
        \end{bmatrix} =

        \begin{bmatrix}
            (w_{1,1}^1 a_{1}^0) + (w_{1,2}^1 a_{2}^0) + b_{1}^1 \\
            (w_{2,1}^1 a_{1}^0) + (w_{2,2}^1 a_{2}^0) + b_{2}^1 \\
            (w_{3,1}^1 a_{1}^0) + (w_{3,2}^1 a_{2}^0) + b_{3}^1 \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \mathbf{z^1} =

        \begin{bmatrix}
            w_{1,1}^1 & w_{1,2}^1 \\
            w_{2,1}^1 & w_{2,2}^1 \\
            w_{3,1}^1 & w_{3,2}^1 \\
        \end{bmatrix}

        \begin{bmatrix}
            a_{1}^0 \\
            a_{2}^0 \\
        \end{bmatrix}

        +

        \begin{bmatrix}
            b_{1}^1 \\
            b_{2}^1 \\
            b_{3}^1 \\
        \end{bmatrix}
    $$
    <hr>
    $$ \mathbf{z^1} = W^1 \mathbf{a^0} + \mathbf{b^1} $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \mathbf{z^k} = W^k \mathbf{a^{k-1}} + \mathbf{b^k} $$

{% endmacro %}


{% macro matrix_notation_activation() %}
    <div class="h5 text-center">Activation</div>

    $$
        \mathbf{a^k} =

        \begin{bmatrix}
            a_{1}^k \\
            a_{2}^k \\
            a_{3}^k \\
        \end{bmatrix} =

        \begin{bmatrix}
            a(z_{1}^k) \\
            a(z_{2}^k) \\
            a(z_{3}^k) \\
        \end{bmatrix}
    $$
    <hr>
    $$ \mathbf{a^k} = a( \mathbf{z^k} ) $$

    <br>

{% endmacro %}


{% macro derivative_of_cost_with_respect_to_last_activation_vector() %}

    $$
        \nabla{_\mathbf{a^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{a_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{a_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{C_{1}} } * \frac{ \partial{C_{1}} }{ \partial{a_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{C_{2}} } * \frac{ \partial{C_{2}} }{ \partial{a_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^2} C} =

        \begin{bmatrix}
            \frac{1}{2} * (a_{1}^2 - y_{1}) \\
            \frac{1}{2} * (a_{2}^2 - y_{2}) \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^2} C} = \frac{1}{2} *

        \begin{bmatrix}
            a_{1}^2 - y_{1} \\
            a_{2}^2 - y_{2} \\
        \end{bmatrix}
    $$
    <hr>
    $$ \nabla{_\mathbf{a^2} C} = \frac{1}{2} * (\mathbf{a^2} - \mathbf{y}) $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \nabla{_\mathbf{a^K} C} = \frac{1}{m} * (\mathbf{a^K} - \mathbf{y}) $$

    <br>

{% endmacro %}


{% macro derivative_of_cost_with_respect_to_preactivation_vector() %}

    $$
        \nabla{_\mathbf{z^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{z^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{a_{1}^2} } * \frac{ \partial{a_{1}^2} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{a_{2}^2} } * \frac{ \partial{a_{2}^2} }{ \partial{z_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{z^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{a_{1}^2} } * a_{1}^2 * (1 - a_{1}^2) \\
            \frac{ \partial{C} }{ \partial{a_{2}^2} } * a_{2}^2 * (1 - a_{2}^2) \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{z^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{a_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{a_{2}^2} } \\
        \end{bmatrix}

        \odot

        \begin{bmatrix}
            a_{1}^2 \\
            a_{2}^2 \\
        \end{bmatrix}

        \odot

        \begin{bmatrix}
            1 - a_{1}^2 \\
            1 - a_{2}^2 \\
        \end{bmatrix}
    $$
    <hr>
    $$ \nabla{_\mathbf{z^2} C} = \nabla{_\mathbf{a^2} C} \odot \mathbf{a^2} \odot (\mathbf{1} - \mathbf{a^2}) $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \nabla{_\mathbf{z^k} C} = \nabla{_\mathbf{a^k} C} \odot \mathbf{a^k} \odot (\mathbf{1} - \mathbf{a^k}) $$

    <br>

{% endmacro %}


{% macro derivative_of_cost_with_respect_to_hidden_layer_activation_vector() %}

    $$
        \nabla{_\mathbf{a^1} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{a_{1}^1} } \\
            \frac{ \partial{C} }{ \partial{a_{2}^1} } \\
            \frac{ \partial{C} }{ \partial{a_{3}^1} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^1} C} =

        \begin{bmatrix}
            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{a_{1}^1} }) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{a_{1}^1} }) \\

            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{a_{2}^1} }) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{a_{2}^1} }) \\

            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{a_{3}^1} }) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{a_{3}^1} }) \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^1} C} =

        \begin{bmatrix}
            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * w_{11}^2) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * w_{21}^2) \\
            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * w_{12}^2) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * w_{22}^2) \\
            (\frac{ \partial{C} }{ \partial{z_{1}^2} } * w_{13}^2) +
            (\frac{ \partial{C} }{ \partial{z_{2}^2} } * w_{23}^2) \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^1} C} =

        \begin{bmatrix}
            w_{11}^2 & w_{21}^2 \\
            w_{12}^2 & w_{22}^2 \\
            w_{13}^2 & w_{23}^2 \\
        \end{bmatrix} *

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} }
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{a^1} C} =

        \begin{bmatrix}
            w_{11}^2 & w_{12}^2 & w_{13}^2 \\
            w_{21}^2 & w_{22}^2 & w_{23}^2 \\
        \end{bmatrix}^T *

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} }
        \end{bmatrix}
    $$
    <hr>
    $$ \nabla{_\mathbf{a^1} C} = W^2 * \nabla{_\mathbf{z^2} C} $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \nabla{_\mathbf{a^k} C} = W^{k+1} * \nabla{_\mathbf{z^{k+1}} C} $$

    <br>

{% endmacro %}


{% macro derivative_of_cost_with_respect_to_weights_matrix() %}

    $$
        \frac{ \partial{C} }{ \partial{W^2} } =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{W_{11}^2} } & \frac{ \partial{C} }{ \partial{W_{12}^2} } & \frac{ \partial{C} }{ \partial{W_{13}^2} } \\
            \frac{ \partial{C} }{ \partial{W_{21}^2} } & \frac{ \partial{C} }{ \partial{W_{22}^2} } & \frac{ \partial{C} }{ \partial{W_{23}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \frac{ \partial{C} }{ \partial{W^2} } =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{W_{11}^2} } &
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{W_{12}^2} } &
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{W_{13}^2} } \\

            \frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{W_{21}^2} } &
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{W_{22}^2} } &
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{W_{23}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \frac{ \partial{C} }{ \partial{W^2} } =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * a_{1}^1 &
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * a_{2}^1 &
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * a_{3}^1 \\

            \frac{ \partial{C} }{ \partial{z_{2}^2} } * a_{1}^1 &
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * a_{2}^1 &
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * a_{3}^1 \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \frac{ \partial{C} }{ \partial{W^2} } =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } \\
        \end{bmatrix} *

        \begin{bmatrix}
            a_{1}^1 & a_{2}^1 & a_{3}^1 \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \frac{ \partial{C} }{ \partial{W^2} } =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } \\
        \end{bmatrix} *

        \begin{bmatrix}
            a_{1}^1 \\
            a_{2}^1 \\
            a_{3}^1 \\
        \end{bmatrix}^T
    $$
    <hr>
    $$ \frac{ \partial{C} }{ \partial{W^2} } = \nabla{_\mathbf{z^2} C} * \mathbf{a^1}^T $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \frac{ \partial{C} }{ \partial{W^k} } = \nabla{_\mathbf{z^k} C} * \mathbf{a^{k-1}}^T $$

    <hr>

    <div class="h6 text-center">Weights updates</div>
    $$ W^{k'} = W^k - \alpha * \frac{ \partial{C} }{ \partial{W^k} } $$

    <br>

{% endmacro %}


{% macro derivative_of_cost_with_respect_to_biases_vector() %}
    $$
        \nabla{_\mathbf{b^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{b_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{b_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$erivative of cost
        \nabla{_\mathbf{b^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * \frac{ \partial{z_{1}^2} }{ \partial{b_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * \frac{ \partial{z_{2}^2} }{ \partial{b_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$
        \nabla{_\mathbf{b^2} C} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } * 1 \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } * 1 \\
        \end{bmatrix} =

        \begin{bmatrix}
            \frac{ \partial{C} }{ \partial{z_{1}^2} } \\
            \frac{ \partial{C} }{ \partial{z_{2}^2} } \\
        \end{bmatrix}
    $$
    <hr>
    $$ \nabla{_\mathbf{b^2} C} = \nabla{_\mathbf{z^2} C} $$
    <hr>

    <div class="h6 text-center">Generic form</div>
    $$ \nabla{_\mathbf{b^k} C} = \nabla{_\mathbf{z^k} C} $$

    <hr>

    <div class="h6 text-center">Weights updates</div>
    $$ \mathbf{b}^{k'} = \mathbf{b}^k - \alpha * \nabla{_\mathbf{b^k} C} $$
    <br>

{% endmacro %}


{% macro sigmoid_derivative_computations() %}

    $$
    a = \frac{1}{ 1 + e^{-z} }
    $$
    <hr>
    <div class="h6 text-center">Call</div>
    $$ f = 1 $$
    $$ g = 1 + e^{-z} $$
    $$ a = \frac{f}{g} $$<br>
    <div class="h6 text-center">Then</div>
    $$
        \frac{ \partial{a} }{ \partial{z} } =
        \frac{ \frac{\partial{f}}{\partial{z}} * g - f * \frac{\partial{g}}{\partial{z}}}{g^2}
    $$
    <hr>
    $$
        \frac{ \partial{f} }{ \partial{z} } = 0
    $$
    <hr>
    <div class="h6 text-center">Call</div>
    $$ u = -z $$
    <div class="h6 text-center">Then</div>
    $$ g = 1 + e^u $$
    $$
        \frac{ \partial{g} }{ \partial{z} } = \frac{ \partial{g} }{ \partial{u} } * \frac{ \partial{u} }{ \partial{z} }
    $$
    $$
        \frac{ \partial{g} }{ \partial{u} } = e^u
    $$
    $$
        \frac{ \partial{u} }{ \partial{z} } = -1
    $$
    $$
        \frac{ \partial{g} }{ \partial{z} } = e^u * (-1)
    $$
    $$
        \frac{ \partial{g} }{ \partial{z} } = -e^{-z}
    $$
    <hr>
    $$
        \frac{ \partial{a} }{ \partial{z} } =
        \frac{ \frac{\partial(f)}{\partial(z)} * g - f * \frac{\partial(g)}{\partial(z)}}{g^2}
    $$
    $$
        \frac{ \partial{a} }{ \partial{z} } = \frac { 0 - 1 * (-e^{-z})} { (1 + e^{-z})^2 }
    $$
    $$
        \frac{ \partial{a} }{ \partial{z} } = \frac { e^{-z}} { (1 + e^{-z})^2 }
    $$
    <hr>
    $$
    a * (1 - a) = \frac{1}{ 1 + e^{-z} } * (1 - \frac{1}{ 1 + e^{-z} })
    $$

    $$
    a * (1 - a) = \frac{1}{ 1 + e^{-z} } * (\frac {1 + e^{-z} }{ 1 + e^{-z} } - \frac{1}{ 1 + e^{-z} })
    $$

    $$
    a * (1 - a) = \frac{1}{ 1 + e^{-z} } * \frac{ 1 + e^{-z} - 1 }{ 1 + e^{-z} }
    $$

    $$
    a * (1 - a) = \frac{1}{ 1 + e^{-z} } * \frac{ e^{-z} }{ 1 + e^{-z} }
    $$

    $$
    a * (1 - a) = \frac{ e^{-z} }{ (1 + e^{-z})^2 }
    $$
    <hr>
    <div class="h6 text-center">Therefore</div>
    $$
        \frac{ \partial{a} }{ \partial{z} } = a * (1 - a)
    $$
{% endmacro %}



{% macro cost_derivative_with_respect_to_activation() %}

    $$ C = \frac{1}{2} (y - a)^2 $$
    <hr>
    <div class="h6 text-center">Call</div>
    $$ u = y - a $$
    <div class="h6 text-center">Then</div>
    $$ C = \frac{1}{2} u^2 $$

    $$
        \frac{ \partial{C} }{ \partial{a} } = \frac{ \partial{C} }{ \partial{u} } * \frac{ \partial{u} }{ \partial{a} }
    $$

    $$
        \frac{ \partial{C} }{ \partial{u} } = \frac{1}{2} * 2u = u
    $$

    $$
        \frac{ \partial{u} }{ \partial{a} } = -1
    $$

    $$
        \frac{ \partial{C} }{ \partial{a} } = -u = -(y - a) = a - y
    $$
    <hr>
    $$
        \frac{ \partial{C} }{ \partial{a} } = a - y
    $$

{% endmacro %}