{% import "math_macros.html" as math_macros %}


{% macro card_header_style() %}
"h3 card-header text-center bg-success text-white"
{% endmacro %}


{% macro kuba_profile() %}
<div class="shadow-lg">

    <div class={{ card_header_style() }}>Kuba Kolodziejczyk</div>

    <div class="row">
        <div class="col-md-8">
            <div class="m-4 h4">
                <strong>出身:</strong> ポーランド<br>
                <strong>大学:</strong> ロンドン大学, 大阪大学<br><br>

                <strong>過去</strong><br>
                Nanyang Technological University<br>
                OIST<br>
                レキサス<br><br>

                <strong>現在</strong><br>
                AI Okinawa - 代表<br>
                LiLz株式会社 - CTO<br>
                琉球大学 - 非常勤講師
            </div>
        </div>

        <div class="col-md-4">
          <img src="/static/images/profile_image.jpg" class="mx-auto d-block" width="100%">
        </div>

    </div>
</div>
{% endmacro %}


{% macro what_this_course_is_about() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>What this course is about</div>
    <div class="m-4">
        <img src="/static/images/neural_network_example.png" width="80%"><br>
        <div class="h5 text-center text-secondary small">neuralnetworksanddeeplearning.com</div>
        <hr>
    </div>
</div>
{% endmacro %}


{% macro deep_learning_overview() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Deep learning - short overview</div>
    <div class="m-4">
        <img src="/static/images/ai_ml_dl.jpg" width="80%"><br>
        <div class="h5 text-center text-secondary small">rapidminer.com</div>
        <hr>
        <br>
        <img src="/static/images/sample_function.jpg" width="80%">
        <div class="h2">$$ y = ax^3 + bx^2 + cx + d$$</div>
        <hr>
        <img src="/static/images/various_deep_learning_examples.jpg" width="100%"><br>

    </div>
</div>
{% endmacro %}


{% macro ask_questions_take_notes() %}
<div class="jumbotron text-center card mt-4 p-4 shadow-lg">
    <h1>Ask questions</h1>
    <h1>Take notes</h1>
    <h1>Create a cheat-sheet</h1>
</div>
{% endmacro %}


{% macro sample_forward_propagation_computations() %}
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table table-bordered text-center">
                <div class="caption text-center h6">Inputs</div>
                <tbody>
                    <tr>
                        <td>\( x_1 \)</td>
                        <td>\( 4 \)</td>
                    </tr>
                    <tr>
                        <td>\( x_2 \)</td>
                        <td>\( 0.5 \)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>

    </div>
    <hr>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table table-bordered text-center">
                <div class="caption text-center h6">Parameters</div>
                <tbody>
                    <tr>
                        <td>\( w_1 \)</td>
                        <td>\( 1 \)</td>
                    </tr>
                    <tr>
                        <td>\( w_2 \)</td>
                        <td>\( -1 \)</td>
                    </tr>
                    <tr>
                        <td>\( b \)</td>
                        <td>\( -2 \)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>

    </div>
    <hr>

    <div class="text-center h6">Preactivation</div>
    $$ z = (w_1 * x_1) + (w_2 * x_2) + b $$
    $$ z = (1 * 4) + (-1 * 0.5) - 2 $$
    $$ z = 4 - 0.5 - 2 = 1.5 $$
    <hr>
    <div class="text-center h6">Activation</div>
    $$ a = \sigma(z) = \frac{1}{1 + e^{-z}} $$
    $$ a = \sigma(1.5) = \frac{1}{1 + e^{-1.5}} $$
    $$ a = 0.82 $$
{% endmacro %}


{% macro cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Cost function</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Why use cost function?</li>
            <li class="list-group-item">Gradient descent</li>
            <li class="list-group-item">Why not just use accuracy?</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro cost_derivative_with_respect_to_activation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Cost derivative with respect to activation</div>
    {{ math_macros.cost_derivative_with_respect_to_activation() }}
    <br>
</div>
{% endmacro %}


{% macro cost_derivative_with_respect_to_preactivation() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Cost derivative with respect to preactivation</div>
    $$ \frac { \partial{C} }{ \partial{z} } = \frac { \partial{C} }{ \partial{a} } * \frac { \partial{a} }{ \partial{z} }$$
    <hr>
    {{ math_macros.sigmoid_derivative_computations() }}
    <hr>
    $$ \frac { \partial{C} }{ \partial{z} } = \frac { \partial{C} }{ \partial{a} } * a * (1 - a) $$
    <br>
</div>
{% endmacro %}


{% macro cost_derivative_with_respect_to_parameters() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Cost derivative with respect to parameters</div>

    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Cost derivative with respect to weights</li>
            <li class="list-group-item">Cost derivative with respect to bias</li>
        </ul>
    </div>
    <br>

</div>
{% endmacro %}


{% macro parameters_update() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Parameters update</div>

    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Learning rate</li>
            <li class="list-group-item">Weights update</li>
            <li class="list-group-item">Bias update</li>
        </ul>
    </div>
    <br>

</div>
{% endmacro %}


{% macro sample_mean_square_error_loss_computations() %}

    <div class="text-center h6">Ground truth</div>
    $$ y = 1 $$
    <hr>
    <div class="text-center h6">Cost</div>
    $$ C = \frac {1}{2} (y - a)^2 $$
    $$ C = \frac {1}{2} (1 - 0.82)^2 = \frac {1}{2} (0.18)^2 = \frac {1}{2} * 0.0324 $$
    $$ C = 0.0162 $$

{% endmacro %}


{% macro sample_backward_propagation_computations_with_mean_square_error_loss() %}

    <div class="text-center h6">Cost derivative with respect to activation</div>
    $$ \frac { \partial{C} }{ \partial{a} } = a - y $$
    $$ \frac { \partial{C} }{ \partial{a} } = 0.82 - 1 $$
    $$ \frac { \partial{C} }{ \partial{a} } = -0.18 $$
    <hr>
    <div class="text-center h6">Cost derivative with respect to preactivation</div>
    $$ \frac { \partial{C} }{ \partial{z} } = \frac { \partial{C} }{ \partial{a} } * \frac { \partial{a} }{ \partial{z} } $$
    <hr>
    $$ \frac { \partial{C} }{ \partial{a} } = -0.18 $$
    <hr>
    $$ \frac { \partial{a} }{ \partial{z} } = a * (1 - a) $$
    $$ \frac { \partial{a} }{ \partial{z} } = 0.82 * (1 - 0.82) = 0.82 * 0.18 $$
    $$ \frac { \partial{a} }{ \partial{z} } \approx 0.15 $$
    <hr>
    $$ \frac { \partial{C} }{ \partial{z} } = \frac { \partial{C} }{ \partial{a} } * \frac { \partial{a} }{ \partial{z} } $$
    $$ \frac { \partial{C} }{ \partial{z} } = -0.18 * 0.15 $$
    $$ \frac { \partial{C} }{ \partial{z} } = -0.027 $$
    <hr>
    <div class="text-center h6">Cost derivative with respect to weight \( w_1 \)</div>
    $$ \frac { \partial{C} }{ \partial{w_1} } = \frac { \partial{C} }{ \partial{z} } * \frac { \partial{z} }{ \partial{w_1} } $$
    <hr>
    $$ \frac { \partial{C} }{ \partial{z} } = -0.027 $$
    $$ \frac { \partial{z} }{ \partial{w_1} } = x_1 = 4$$
    $$ \frac { \partial{C} }{ \partial{w_1} } = -0.027 * 4 = -0.108 $$
    <hr>
    <div class="text-center h6">Cost derivative with respect to weight \( w_2 \)</div>
    $$ \frac { \partial{C} }{ \partial{w_2} } = \frac { \partial{C} }{ \partial{z} } * \frac { \partial{z} }{ \partial{w_2} } $$
    <hr>
    $$ \frac { \partial{C} }{ \partial{z} } = -0.027 $$
    $$ \frac { \partial{z} }{ \partial{w_2} } = x_2 = 0.5 $$
    $$ \frac { \partial{C} }{ \partial{w_2} } = -0.027 * 0.5 = -0.0135 $$
    <hr>
    <div class="text-center h6">Cost derivative with respect to bias </div>
    $$ \frac { \partial{C} }{ \partial{b} } = \frac { \partial{C} }{ \partial{z} } * \frac { \partial{z} }{ \partial{b} } $$
    $$ \frac { \partial{C} }{ \partial{z} } = -0.027 $$
    $$ \frac { \partial{z} }{ \partial{b} } = 1 $$
    $$ \frac { \partial{C} }{ \partial{b} } = -0.027 * 1 = -0.027 $$

{% endmacro %}


{% macro sample_parameters_update_computations_with_mean_square_error_loss() %}

    <div class="text-center h6">Parameters updates</div>
    $$ \alpha = 1 $$
    <hr>
    $$ w_1' = w_1 - \alpha * \frac { \partial{C} }{ \partial{w_1} } $$
    $$ w_1' = 1 - 1 * (-0.108) = 1.108 $$
    <hr>
    $$ w_2' = w_2 - \alpha * \frac { \partial{C} }{ \partial{w_2} } $$
    $$ w_2' = -1 - 1 * (-0.0135) = -0.9865 $$
    <hr>
    $$ b' = b - \alpha * \frac { \partial{C} }{ \partial{b} } $$
    $$ b' = -2 - 1 * (-0.027) = -1.973 $$

{% endmacro %}


{% macro sample_forward_propagation_computations_after_one_step_of_training_with_mean_square_error_loss() %}
    <div class="text-center h6">After one step of training</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table table-bordered text-center">
                <div class="caption text-center h6">Inputs</div>
                <tbody>
                    <tr>
                        <td>\( x_1 \)</td>
                        <td>\( 4 \)</td>
                    </tr>
                    <tr>
                        <td>\( x_2 \)</td>
                        <td>\( 0.5 \)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>

    </div>
    <hr>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table table-bordered text-center">
                <div class="caption text-center h6">Parameters</div>
                <tbody>
                    <tr>
                        <td>\( w_1 \)</td>
                        <td>\( 1.108 \)</td>
                    </tr>
                    <tr>
                        <td>\( w_2 \)</td>
                        <td>\( -0.9865 \)</td>
                    </tr>
                    <tr>
                        <td>\( b \)</td>
                        <td>\( -1.973 \)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>

    </div>
    <hr>

    <div class="text-center h6">Preactivation</div>
    $$ z = (w_1 * x_1) + (w_2 * x_2) + b $$
    $$ z = (1.108 * 4) + (-0.9865 * 0.5) - 1.973 $$
    $$ z = 4.432 - 0.49325 - 1.973 = 1.96575 $$
    <hr>
    <div class="text-center h6">Activation</div>
    $$ a = \sigma(z) = \frac{1}{1 + e^{-z}} $$
    $$ a = \sigma(1.96575) = \frac{1}{1 + e^{-1.96575}} $$
    $$ a = 0.88 $$
{% endmacro %}


{% macro networks_with_multiple_outputs() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Networks with multiple outputs</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">One-hot encoding</li>
            <li class="list-group-item">Computing cost over multiple outputs</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro backpropagation_in_complex_networks() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Backpropagation - complex networks</div>
    <div class="m-4">

        <ul class="list-group">
            <li class="list-group-item">Cost derivative w.r.t. hidden node activation</li>
            <li class="list-group-item">Parameters notation for complex networks</li>
            <li class="list-group-item">Compute layer error on node with multiple children</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro matrix_review() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Matrix review</div><br>

    {{ math_macros.matrix_multiplication() }}
    <hr>
    {{ math_macros.derivative_of_vector_with_respect_to_scalar() }}
    <hr>
    {{ math_macros.derivative_of_scalar_with_respect_to_vector() }}

</div>
{% endmacro %}


{% macro matrix_notation_forward_pass() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Matrix notation - forward pass</div><br>

    {{ math_macros.matrix_notation_preactivation() }}
    <hr>
    {{ math_macros.matrix_notation_activation() }}

</div>
{% endmacro %}


{% macro matrix_notation_backpropagation_error_with_respect_to_output_activation_vector() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>
        Matrix notation backpropagation<br>
        Derivative of cost w.r.t. last activation vector</div><br>

    {{ math_macros.derivative_of_cost_with_respect_to_last_activation_vector() }}
</div>
{% endmacro %}


{% macro matrix_notation_backpropagation_error_with_respect_to_preactivation_vector() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>
        Matrix notation backpropagation<br>
        Derivative of cost w.r.t. preactivation vector</div><br>

    {{ math_macros.derivative_of_cost_with_respect_to_preactivation_vector() }}
</div>
{% endmacro %}


{% macro matrix_notation_backpropagation_error_with_respect_to_hidden_layer_activation_vector() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>
        Matrix notation backpropagation<br>
        Derivative of cost w.r.t. hidden layer's activation vector</div><br>

    {{ math_macros.derivative_of_cost_with_respect_to_hidden_layer_activation_vector() }}
</div>
{% endmacro %}


{% macro matrix_notation_backpropagation_error_with_respect_to_weights_matrix() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>
        Matrix notation backpropagation<br>
        Derivative of cost w.r.t. weights matrix</div><br>

    {{ math_macros.derivative_of_cost_with_respect_to_weights_matrix() }}
</div>
{% endmacro %}


{% macro matrix_notation_backpropagation_error_with_respect_to_biases_vector() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>
        Matrix notation backpropagation<br>
        Derivative of cost w.r.t. biases vector</div><br>

    {{ math_macros.derivative_of_cost_with_respect_to_biases_vector() }}
</div>
{% endmacro %}


{% macro influence_of_weight_on_sigmoid_output_at_weight_equal_to_1() %}

    <div class="caption text-center h5">Weight \( w = 1 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -10 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = -5 \) </td>
                        <td> \( a = 0.01 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -1 \) </td>
                        <td> \( z = -1 \) </td>
                        <td> \( a = 0.27 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.1 \) </td>
                        <td> \( z = -0.1 \) </td>
                        <td> \( a = 0.48 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.01 \) </td>
                        <td> \( z = -0.01 \) </td>
                        <td> \( a = 0.498 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.01 \) </td>
                        <td> \( z = 0.01 \) </td>
                        <td> \( a = 0.502 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.1 \) </td>
                        <td> \( z = 0.1 \) </td>
                        <td> \( a = 0.52 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 1 \) </td>
                        <td> \( z = 1 \) </td>
                        <td> \( a = 0.73 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 5 \) </td>
                        <td> \( a = 0.99 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 10 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_weight_on_sigmoid_output_at_weight_equal_to_10() %}

    <div class="caption text-center h5">Weight \( w = 10 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -100 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = -50 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -1 \) </td>
                        <td> \( z = -10 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.1 \) </td>
                        <td> \( z = -1 \) </td>
                        <td> \( a = 0.27 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.01 \) </td>
                        <td> \( z = -0.1 \) </td>
                        <td> \( a = 0.48 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.01 \) </td>
                        <td> \( z = 0.1 \) </td>
                        <td> \( a = 0.502 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.1 \) </td>
                        <td> \( z = 1 \) </td>
                        <td> \( a = 0.73 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 1 \) </td>
                        <td> \( z = 10 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 50 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 100 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_weight_on_sigmoid_output_at_weight_equal_to_100() %}

    <div class="caption text-center h5">Weight \( w = 100 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -1000 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = -500 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -1 \) </td>
                        <td> \( z = -100 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.1 \) </td>
                        <td> \( z = -10 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -0.01 \) </td>
                        <td> \( z = -1 \) </td>
                        <td> \( a = 0.27 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.01 \) </td>
                        <td> \( z = 1 \) </td>
                        <td> \( a = 0.73 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0.1 \) </td>
                        <td> \( z = 10 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 1 \) </td>
                        <td> \( z = 100 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 500 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 1000 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_weight_on_sigmoid_output() %}

    <div class="caption text-center h4">Influence of weight on activation</div><br>
    {{ influence_of_weight_on_sigmoid_output_at_weight_equal_to_1() }}
    <br>
    {{ influence_of_weight_on_sigmoid_output_at_weight_equal_to_10() }}
    <br>
    {{ influence_of_weight_on_sigmoid_output_at_weight_equal_to_100() }}

{% endmacro %}


{% macro influence_of_bias_on_sigmoid_output_at_bias_equal_to_0() %}

    <div class="caption text-center h5">Bias \( b = 0 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -10 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = -5 \) </td>
                        <td> \( a = 0.01 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 5 \) </td>
                        <td> \( a = 0.99 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 10 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_bias_on_sigmoid_output_at_bias_equal_to_5() %}

    <div class="caption text-center h5">Bias \( b = 5 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -5 \) </td>
                        <td> \( a = 0.01 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = 5 \) </td>
                        <td> \( a = 0.99 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 10 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 15 \) </td>
                        <td> \( a = 1 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_bias_on_sigmoid_output_at_bias_equal_to_minus_5() %}

    <div class="caption text-center h5">Bias \( b = -5 \)</div>
    <div class="row">

        <div class="col"></div>
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>input</th>
                        <th>preactivation</th>
                        <th>activation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> \( x = -10 \) </td>
                        <td> \( z = -15 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = -5 \) </td>
                        <td> \( z = -10 \) </td>
                        <td> \( a = 0 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 0 \) </td>
                        <td> \( z = -5 \) </td>
                        <td> \( a = 0.01 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 5 \) </td>
                        <td> \( z = 0 \) </td>
                        <td> \( a = 0.5 \) </td>
                    </tr>
                    <tr>
                        <td> \( x = 10 \) </td>
                        <td> \( z = 5 \) </td>
                        <td> \( a = 0.99 \) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
{% endmacro %}


{% macro influence_of_bias_on_sigmoid_output() %}

    <div class="caption text-center h4">Influence of bias on activation</div><br>
    {{ influence_of_bias_on_sigmoid_output_at_bias_equal_to_0() }}
    <br>
    {{ influence_of_bias_on_sigmoid_output_at_bias_equal_to_5() }}
    <br>
    {{ influence_of_bias_on_sigmoid_output_at_bias_equal_to_minus_5() }}


{% endmacro %}


{% macro batching() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Batching</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Problem with optimizing for a single sample</li>
            <li class="list-group-item">Optimizing for a batch of samples</li>
            <li class="list-group-item">Computational cost</li>
            <li class="list-group-item">Updates count</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}



{% macro training_with_saturated_sigmoid_and_mean_square_error_cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Training with saturated sigmoid and mean square error cost function</div>
        <br>
        {{ math_macros.training_with_saturated_sigmoid_and_mean_square_error_cost_function() }}
</div>
{% endmacro %}


{% macro binary_cross_entropy_cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Binary cross-entropy cost function</div>
        <br>
        {{ math_macros.binary_cross_entropy_cost_function() }}
</div>
{% endmacro %}


{% macro training_with_saturated_sigmoid_and_binary_cross_entropy_cost_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Training with saturated sigmoid and binary cross-entropy cost function</div>
        <br>
        {{ math_macros.training_with_saturated_sigmoid_and_binary_cross_entropy_cost_function() }}
</div>
{% endmacro %}


{% macro softmax() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Softmax</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Interpreting result of neural network with multiple output nodes</li>
            <li class="list-group-item">Softmax function</li>
            <li class="list-group-item">Cross entropy cost</li>
            <li class="list-group-item">Cost derivative w.r.t. active node</li>
            <li class="list-group-item">Cost derivative w.r.t. inactive node</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro optimizing_hidden_layer_activation_function() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Optimizing hidden layer activation function</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Sigmoid derivative and its effect on gradients across layers</li>
            <li class="list-group-item">ReLU - rectified linear unit</li>
            <li class="list-group-item">Derivative of ReLU</li>
            <li class="list-group-item">Why not use a linear hidden activation?</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}


{% macro importance_of_weights_initialization_scheme() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Importance of weights initialization scheme</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Problem with naive weights initialization</li>
            <li class="list-group-item">Scaling weights initialization w.r.t. input size</li>
        </ul>
    </div>
    <br>
</div>
{% endmacro %}
